:root {
  /* Brand Colors - Primary */
  --brand-primary-100: #F9CCD3;
  --brand-primary-200: #F299A7;
  --brand-primary-300: #EC667C;
  --brand-primary-400: #E53350;
  --brand-primary-500: #DF0024;
  --brand-primary-600: #C7001E;
  --brand-primary-700: #B10018;

  /* Brand Colors - Secondary */
  --brand-secondary-100: #CCCCCC;
  --brand-secondary-200: #99999D;
  --brand-secondary-300: #666666;
  --brand-secondary-400: #333333;
  --brand-secondary-500: #000000;

  /* Brand Colors - Teal */
  --brand-teal-100: #CCF2F0;
  --brand-teal-200: #99E5E1;
  --brand-teal-300: #66D8D2;
  --brand-teal-400: #33CBC3;
  --brand-teal-500: #00BEB4;
  --brand-teal-600: #009C97;

  /* Brand Colors - Green */
  --brand-green-100: #F0F6DA;
  --brand-green-200: #E1EDB5;
  --brand-green-300: #D2E490;
  --brand-green-400: #C3DB6B;
  --brand-green-500: #B4D246;
  --brand-green-600: #A5C81F;

  /* Brand Colors - Yellow */
  --brand-yellow-100: #FFFBCC;
  --brand-yellow-200: #FFF799;
  --brand-yellow-300: #FFF366;
  --brand-yellow-400: #FFEF33;
  --brand-yellow-500: #FFEB00;
  --brand-yellow-600: #E6D400;

  /* Brand Colors - Purple */
  --brand-purple-100: #E6D2E6;
  --brand-purple-200: #CDA5CD;
  --brand-purple-300: #B478B4;
  --brand-purple-400: #9B4B9B;
  --brand-purple-500: #821E82;
  --brand-purple-600: #690B69;

    /* TOKENS */

  /* Core Colors - Primary */
  --core-color-primary-light: var(--brand-primary-400); /* #E53350 */
  --core-color-primary-main: var(--brand-primary-500);  /* #DF0024 */
  --core-color-primary-dark: var(--brand-primary-600);  /* #C7001E */

  /* Core Colors - Secondary */
  --core-color-secondary-light: var(--brand-secondary-300); /* #666666 */
  --core-color-secondary-main: var(--brand-secondary-400);  /* #333333 */
  --core-color-secondary-dark: var(--brand-secondary-500);  /* #000000 */

  /* Core Colors - New */
  --core-color-new-light: var(--brand-purple-200); /* #CDA5CD */
  --core-color-new-main: var(--brand-purple-400);  /* #9B4B9B */

  /* Core Colors - Informative */
  --core-color-informative-light: var(--brand-teal-200); /* #99E5E1 */
  --core-color-informative-main: var(--brand-teal-400);  /* #33CBC3 */

  /* Core Colors - Success */
  --core-color-success-light: var(--brand-green-200); /* #E1EDB5 */
  --core-color-success-main: var(--brand-green-400);  /* #C3DB6B */

  /* Core Colors - Warning */
  --core-color-warning-light: var(--brand-yellow-200); /* #FFF799 */
  --core-color-warning-main: var(--brand-yellow-400);  /* #FFEF33 */

  /* Core Colors - Negative */
  --core-color-negative-light: var(--brand-primary-200); /* #F299A7 */
  --core-color-negative-main: var(--brand-primary-700);  /* #B10018 */

  /* Neutral Colors */
  --core-color-neutral-100: #FFFFFF; /* White */
  --core-color-neutral-200: #F7F7F7;
  --core-color-neutral-300: #F2F2F2;
  --core-color-neutral-400: #E9E5E5;
  --core-color-neutral-500: var(--brand-secondary-100); /* #CCCCCC */
  --core-color-neutral-600: var(--brand-secondary-200); /* #99999D */
  --core-color-neutral-700: var(--brand-secondary-300); /* #666666 */
  --core-color-neutral-800: var(--brand-secondary-400); /* #333333 */
  --core-color-neutral-900: var(--brand-secondary-500); /* #000000 */

  /* Core Size Scale */
  --core-size-scale: 1rem;

  /* Core Border Radius - Base calculation: {core.size.SCALE} / 100 */
  --core-border-radius-base: calc(var(--core-size-scale) / 100); /* 0.16px */
  
  /* Core Border Radius Values */
  --core-border-radius-0: 0px;
  --core-border-radius-6: calc(var(--core-border-radius-base) * 6.25); /* 1px */
  --core-border-radius-12: calc(var(--core-border-radius-base) * 12.5); /* 2px */
  --core-border-radius-25: calc(var(--core-border-radius-base) * 25); /* 4px */
  --core-border-radius-50: calc(var(--core-border-radius-base) * 50); /* 8px */
  --core-border-radius-100: calc(var(--core-border-radius-base) * 100); /* 16px */
  --core-border-radius-200: calc(var(--core-border-radius-base) * 200); /* 32px */
  --core-border-radius-pill: 1000px;

  /* Core Border Width */
  --core-border-width-0: 0px;
  --core-border-width-1: 1px;
  --core-border-width-2: 2px;
  --core-border-width-3: 3px;
  --core-border-width-4: 4px;
  --core-border-width-5: 5px;
  --core-border-width-6: 6px;


  /* Core Intensity */
  --core-intensity-box-shadow: 0.3;

  /* Core Box Shadow */
  --core-box-shadow-none: none;
  --core-box-shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, var(--core-intensity-box-shadow));
  --core-box-shadow-s: 0 2px 4px 0 rgba(0, 0, 0, var(--core-intensity-box-shadow));
  --core-box-shadow-m: 0 2px 8px 0 rgba(0, 0, 0, var(--core-intensity-box-shadow));
  --core-box-shadow-l: 0 4px 16px 0 rgba(0, 0, 0, var(--core-intensity-box-shadow));

  /* Core Font Weight */
  --core-font-weight-250: 250; /* Thin Font */
  --core-font-weight-300: 300; /* Light Font */
  --core-font-weight-400: 400; /* Book Font */
  --core-font-weight-500: 500; /* Medium Font */
  --core-font-weight-700: 700; /* Bold Font */
  --core-font-weight-900: 900; /* Black Font */

  /* Line Heights */
  --core-line-height-xs: 100%; /* Tight */
  --core-line-height-s: 110%; /* Normal */
  --core-line-height-m: 130%; /* Relaxed */
  --core-line-height-l: 150%; /* Loose */

  /* font sizes */
  --core-font-size-base: var(--core-size-scale); /* 1rem */
  
  /* Core Font Size Scaled */
  --core-font-size-scaled-75: calc(var(--core-font-size-base) * 0.75);
  --core-font-size-scaled-87: calc(var(--core-font-size-base) * 0.875);
  --core-font-size-scaled-100: calc(var(--core-font-size-base) * 1);
  --core-font-size-scaled-112: calc(var(--core-font-size-base) * 1.125);
  --core-font-size-scaled-125: calc(var(--core-font-size-base) * 1.25);
  --core-font-size-scaled-162: calc(var(--core-font-size-base) * 1.625);
  --core-font-size-scaled-206: calc(var(--core-font-size-base) * 2.0625);
  --core-font-size-scaled-225: calc(var(--core-font-size-base) * 2.25);
  --core-font-size-scaled-262: calc(var(--core-font-size-base) * 2.625);
  --core-font-size-scaled-300: calc(var(--core-font-size-base) * 3);
  --core-font-size-scaled-400: calc(var(--core-font-size-base) * 4);
  --core-font-size-scaled-425: calc(var(--core-font-size-base) * 4.25);

  /* Core Dimensions */
  --core-dimension-base: calc(var(--core-size-scale) / 100); /* 0.16px */
  --core-dimension-0: 0px;
  --core-dimension-25: calc(var(--core-dimension-base) * 25);
  --core-dimension-50: calc(var(--core-dimension-base) * 50);
  --core-dimension-75: calc(var(--core-dimension-base) * 75);
  --core-dimension-100: calc(var(--core-dimension-base) * 100);
  --core-dimension-150: calc(var(--core-dimension-base) * 150);
  --core-dimension-200: calc(var(--core-dimension-base) * 200);
  --core-dimension-250: calc(var(--core-dimension-base) * 250);
  --core-dimension-300: calc(var(--core-dimension-base) * 300);
  --core-dimension-350: calc(var(--core-dimension-base) * 350);
  --core-dimension-400: calc(var(--core-dimension-base) * 400);
  --core-dimension-450: calc(var(--core-dimension-base) * 450);
  --core-dimension-500: calc(var(--core-dimension-base) * 500);
  
  /* Core Font Family */
  --core-font-family-brand: 'ActoCTT', sans-serif;

  /* Base Font Family */
  --base-font-family-body: var(--core-font-family-brand);
  --base-font-family-title: var(--core-font-family-brand);
  --base-font-family-display: var(--core-font-family-brand);
  --base-font-family-label: var(--core-font-family-brand);

  /* Base Font Weight */
  --base-font-weight-body: var(--core-font-weight-400);
  --base-font-weight-title-s-m: var(--core-font-weight-700);
  --base-font-weight-title-l-xl: var(--core-font-weight-400);
  --base-font-weight-display: var(--core-font-weight-400);
  --base-font-weight-label: var(--core-font-weight-700);

  /* Base Font Size - Body */
  --base-font-size-body-s: var(--core-font-size-scaled-87);
  --base-font-size-body-m: var(--core-font-size-scaled-100);
  --base-font-size-body-l: var(--core-font-size-scaled-112);

  /* Base Font Size - Titles */
  --base-font-size-title-s: var(--core-font-size-scaled-125);
  --base-font-size-title-m: var(--core-font-size-scaled-162);
  --base-font-size-title-l: var(--core-font-size-scaled-206);
  --base-font-size-title-xl: var(--core-font-size-scaled-262);

  /* Base Font Size - Display */
  --base-font-size-display-s: var(--core-font-size-scaled-225);
  --base-font-size-display-m: var(--core-font-size-scaled-300);
  --base-font-size-display-l: var(--core-font-size-scaled-425);

  /* Base Font Size - Labels */
  --base-font-size-label-s: var(--core-font-size-scaled-87);
  --base-font-size-label-m: var(--core-font-size-scaled-100);
  --base-font-size-label-l: var(--core-font-size-scaled-112);

  /* Base Border Radius */
  --base-border-radius-scale: 1;
  --base-border-radius-none: calc(var(--base-border-radius-scale) * var(--core-border-radius-0));
  --base-border-radius-xs: calc(var(--base-border-radius-scale) * var(--core-border-radius-25));
  --base-border-radius-s: calc(var(--base-border-radius-scale) * var(--core-border-radius-100));
  --base-border-radius-m: calc(var(--base-border-radius-scale) * var(--core-border-radius-200));
  --base-border-radius-pill: calc(var(--base-border-radius-scale) * var(--core-border-radius-pill));

  /* Base Border Width - Selectable */
  --base-border-width-selectable-none: var(--core-border-width-0);
  --base-border-width-selectable-s: var(--core-border-width-1);
  --base-border-width-selectable-m: var(--core-border-width-2);
  --base-border-width-selectable-l: var(--core-border-width-3);

  /* Base Border Width - Container */
  --base-border-width-container-none: var(--core-border-width-0);
  --base-border-width-container-s: var(--core-border-width-1);
  --base-border-width-container-m: var(--core-border-width-2);
  --base-border-width-container-l: var(--core-border-width-3);

  /* Base Box Shadow - Container */
  --base-box-shadow-container-none: var(--core-box-shadow-none);
  --base-box-shadow-container-xs: var(--core-box-shadow-xs);
  --base-box-shadow-container-s: var(--core-box-shadow-s);
  --base-box-shadow-container-m: var(--core-box-shadow-m);
  --base-box-shadow-container-l: var(--core-box-shadow-l);

  /* Base Color - Page */
  --base-color-page-bg-default: var(--core-color-neutral-100);
  --base-color-page-bg-cloudy: var(--core-color-neutral-200);

  /* Base Color - Container */
  --base-color-container-bg-default: var(--core-color-neutral-100);
  --base-color-container-border-default: var(--core-color-neutral-600);
  --base-color-container-bg-disabled: var(--core-color-neutral-300);
  --base-color-container-border-disabled: var(--core-color-neutral-500);
  --base-color-container-border-selected: var(--core-color-primary-dark);

  /* Base Color - Selectable */
  --base-color-selectable-bg-default: var(--core-color-neutral-100);
  --base-color-selectable-bg-disabled: var(--core-color-neutral-300);
  --base-color-selectable-border-default: var(--core-color-neutral-600);
  --base-color-selectable-border-disabled: var(--core-color-neutral-500);
  --base-color-selectable-fg-weak: var(--core-color-neutral-700);
  --base-color-selectable-fg-default: var(--core-color-neutral-800);

  /* Base Color - Selectable Primary */
  --base-color-selectable-primary-unselected-default-bg: var(--core-color-primary-main);
  --base-color-selectable-primary-unselected-default-border: var(--core-color-primary-main);
  --base-color-selectable-primary-unselected-default-fg: var(--core-color-neutral-100);
  --base-color-selectable-primary-unselected-hover-bg: var(--core-color-primary-dark);
  --base-color-selectable-primary-unselected-hover-border: var(--core-color-primary-dark);
  --base-color-selectable-primary-unselected-hover-fg: var(--core-color-neutral-100);
  --base-color-selectable-primary-unselected-active-bg: var(--core-color-primary-dark);
  --base-color-selectable-primary-unselected-active-border: var(--core-color-primary-dark);
  --base-color-selectable-primary-unselected-active-fg: var(--core-color-neutral-100);
  --base-color-selectable-primary-selected-default-bg: var(--core-color-primary-main);
  --base-color-selectable-primary-selected-default-border: var(--core-color-primary-main);
  --base-color-selectable-primary-selected-default-fg: var(--core-color-neutral-100);
  --base-color-selectable-primary-selected-hover-bg: var(--core-color-primary-dark);
  --base-color-selectable-primary-selected-hover-border: var(--core-color-primary-dark);
  --base-color-selectable-primary-selected-hover-fg: var(--core-color-neutral-100);
  --base-color-selectable-primary-selected-active-bg: var(--core-color-primary-dark);
  --base-color-selectable-primary-selected-active-border: var(--core-color-primary-dark);
  --base-color-selectable-primary-selected-active-fg: var(--core-color-neutral-100);

  /* Base Color - Selectable Secondary */
  --base-color-selectable-secondary-unselected-default-bg: var(--core-color-secondary-main);
  --base-color-selectable-secondary-unselected-default-border: var(--core-color-secondary-main);
  --base-color-selectable-secondary-unselected-default-fg: var(--core-color-neutral-100);
  --base-color-selectable-secondary-unselected-hover-bg: var(--core-color-secondary-dark);
  --base-color-selectable-secondary-unselected-hover-border: var(--core-color-secondary-dark);
  --base-color-selectable-secondary-unselected-hover-fg: var(--core-color-neutral-100);
  --base-color-selectable-secondary-unselected-active-bg: var(--core-color-secondary-main);
  --base-color-selectable-secondary-unselected-active-border: var(--core-color-secondary-dark);
  --base-color-selectable-secondary-unselected-active-fg: var(--core-color-neutral-100);

  /* Base Color - Feedback */
  --base-color-feedback-fg-default: var(--core-color-neutral-800);
  --base-color-feedback-fg-clear: var(--core-color-neutral-100);
  --base-color-feedback-fg-error: var(--core-color-negative-main);

  /* Base Color - Feedback Info */
  --base-color-feedback-info-bg-main: var(--core-color-informative-main);
  --base-color-feedback-info-bg-light: var(--core-color-informative-light);

  /* Base Color - Feedback Warning */
  --base-color-feedback-warning-bg-main: var(--core-color-warning-main);
  --base-color-feedback-warning-bg-light: var(--core-color-warning-light);

  /* Base Color - Feedback Error */
  --base-color-feedback-error-bg-main: var(--core-color-negative-main);
  --base-color-feedback-error-bg-light: var(--core-color-negative-light);

  /* Base Color - Feedback Success */
  --base-color-feedback-success-bg-main: var(--core-color-success-main);
  --base-color-feedback-success-bg-light: var(--core-color-success-light);

  /* Base Color - Content */
  --base-color-content-fg-main: var(--core-color-neutral-800);
  --base-color-content-fg-weak: var(--core-color-neutral-700);
  --base-color-content-fg-clear: var(--core-color-neutral-100);
  --base-color-content-fg-strong: var(--core-color-neutral-900);
  --base-color-content-fg-brand: var(--core-color-primary-main);
  --base-color-content-fg-brand-dark: var(--core-color-primary-dark);

}

